{% extends "layout.html" %}

{% block body %}

<form action="{{url_for('create')}}" method="post">
    <div class="form-group">
      <label for="exampleFormControlInput1" >Başlık</label>
      <input type="title" class="form-control" name="title" id="exampleFormControlInput1" minlength="1" maxlength="100">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">İçerik</label>
      <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="5" minlength="30"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
</form>

{% endblock body %}