<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>{{title}}</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{{ url_for('static', filename = 'css/styles.css') }} " rel="stylesheet" />
{% block head %}

{% endblock head %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Elif'in Blogu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">Anasayfa</a></li>               
                {% if not current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Giriş</a></li>                    
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('profile',id=current_user.id)}}">Profil</a></li>

                    {% if current_user.is_admin %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('users')}}">Kullanıcılar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('verify')}}">Yazılar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('verify_comments')}}">Yorumlar</a></li>

                        {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('create')}}">Oluştur</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Çıkış</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="">



{% include "messages.html" %}

{% block body %}

{% endblock body %}



</div>
</div>
</div>

<!-- Footer-->

    <div class="container" ><p class="m-0 text-center text-black"> ☆*: .｡. o(≧▽≦)o .｡.:*☆</p></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
