{% extends "layout.html" %}

{% block head %}
<style>
    body{
    background: #edf1f5;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}
.text-muted {
    color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
}
</style>

{% endblock head %}

{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Kullanıcılar</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Ad</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Soyad</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Kullanıcı Adı</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Kaldır</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td class="pl-4">{{ user.id }}</td>
                      <td>
                          <h5 class="font-medium mb-0">{{ user.name }}</h5>
                      </td>
                      <td>
                          <span class="text-muted">{{ user.surname }}</span><br>  
                      </td>
                      <td>
                          <span class="text-muted">{{ user.username }}</span><br>                      
                      </td>
                      <td>
                          <span class="text-muted">{{ user.email }}</span><br>                    
                      </td>                     
                      <td>
                        {% if not user.is_admin %} <a type="button" href="{{url_for('delete',id=user.id)}}" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </a> {% endif %}
                      </td>
                    </tr>    
                    {% endfor %}           
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body %}
