{% extends "layout.html" %}

{% block head %}
<style>
body{
background: #edf1f5;
}
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 0 solid transparent;
border-radius: 0;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
width: 50px;
height: 50px;
padding: 14px 15px;
font-size: 18px;
line-height: 23px;
}
.text-muted {
color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
cursor: pointer;
}
.btn-circle {
border-radius: 100%;
width: 40px;
height: 40px;
padding: 10px;
}
.user-table tbody tr .category-select {
max-width: 160px;
border-radius: 30px;
}
</style>

{% endblock head %}

{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase mb-0">Yazılar</h5>
    </div>
    <div class="table-responsive">
        <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Kullanıcı Adı</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Başlık</th>
                <th scope="col" class="border-0 text-uppercase font-medium">İçerik</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Tarih</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Kaldır</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Onayla</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                
                    <tr>
                    <td class="pl-4">{{ blog.id }} </td>
                    <td>
                        <h5 class="font-medium mb-0">{{ blog.owner.username }}</h5>
                    </td>
                    <td>
                        <span class="text-muted">{{ blog.owner.email }}</span><br>  
                    </td>
                    <td>
                        <span class="text-muted"><a style="color: black;" type="button" href="{{url_for('view',id=blog.id)}}">{{ blog.title[:30] }}</a></span><br>                      
                    </td>
                    <td>
                        <span class="text-muted">{{ blog.content[:41] }}... </span><br>                    
                    </td>
                    <td>
                        <span class="text-muted">{{ blog.created_date.strftime("%Y/%m/%d~%H:%M") }}</span><br>                    
                    </td>                      
                    <td>
                        <a type="button" href="{{url_for('delete_blog',id=blog.id)}}" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </a>
                    </td>
                    <td>
                        <a type="button" href="{{url_for('verify_blog',id=blog.id)}}" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-key"></i> </a>
                    </td>
                    </tr> 
                
            {% endfor %}           
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>

{% endblock body %}
